body{
background-color:black;
color:cyan;
font-family:impact;
}
.nav_menu{
	overflow:hidden;
}
.nav_menu a{
	float:right;
	display:block;
	color:white;
	padding:20px;
	font-size:20px;
}
.nav_menu a:hover{
	color:#00BFFA;
	background-color:white;
	font-size:30px;
}